$body-background: #fff;
$main-color: #AF2045;

$light-gray: #ccc;
$gray: #b8b8be;
$dark-gray: #333;

$custom-color: #fff;
$custom-bg: $main-color;

$default-color: #fff;
$default-bg: $gray;

$primary-color: #fff;
$primary-bg: $dark-gray;

$success-color: #fff;
$success-bg: #89a02c;

$info-color: #fff;
$info-bg: #2c89a0;

$warning-color: #fff;
$warning-bg: #ff7f2a;

$danger-color: #fff;
$danger-bg: #c83737;

$link-color: #AF2045;
$link-bg: $body-background;